# Nuxt dev/build outputs
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# hosting static files zip
web_files.zip

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# GitHub
.git

# HTTPS Proxy certificates
localhost.pem
localhost-key.pem