.shape {
    animation: floating 2.8s ease-in-out infinite;
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-13px); /* Adjust the amount of float */
    }
}