/* about section */
.fade-enter-active, .fade-leave-active { transition: opacity 300ms var(--ease-1); }
.fade-enter-from, .fade-leave-to { opacity: 0; }

.fade-fast-enter-active, .fade-fast-leave-active { transition: opacity 180ms var(--ease-1); }
.fade-fast-enter-from, .fade-fast-leave-to { opacity: 0; }

.fade-fast-2-enter-active, .fade-fast-2-leave-active { transition: opacity 100ms ease-in-out; }
.fade-fast-2-enter-from, .fade-fast-2-leave-to { opacity: 0; }
/* school animations*/
.illustration.school svg {
    overflow: visible;
}

.illustration.school g.cloud {
    transform: translateX(-4%);
    animation: cloud-float ease forwards infinite;
}
@keyframes cloud-float {
    from {
        transform: translateX(-4%);
    } 50% {
        transform: translateX(2%);
    } to {
        transform: translateX(-4%);
    } 
}
.illustration.school g.cloud.one {
    animation-duration: 10s;
}
.illustration.school g.cloud.two {
    animation-duration: 7s;
}
.illustration.school g.cloud.third {
    animation-duration: 12s;
}

.illustration.school g:is(.building, .platform, .flag-base, .flag, .don-bosco-statue), 
.illustration.school rect.flag-pole, .illustration.school path.parking {
    opacity: 0;
}
/* sobre-nosotros route */
section.content-navigation .illustration.school g:is(.building, .platform, .flag-base, .flag, .don-bosco-statue), 
section.content-navigation .illustration.school rect.flag-pole, 
section.content-navigation .illustration.school path.parking {
    opacity: 1;
}

.illustration.school .idle g:is(.building, .platform, .flag-base, .flag, .don-bosco-statue), 
.illustration.school .idle rect.flag-pole, .illustration.school  .idle path.parking {
    opacity: 1;
}

.illustration.school .show path.parking {
    animation: grow-parking 950ms var(--ease-1) forwards 150ms;
    transform-origin: bottom;
}

@keyframes grow-parking {
    from {
        opacity: 0;
        transform: scaleX(0.3);
    } 
    30% {   
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.illustration.school .show g.building {
    animation: build-school 650ms var(--ease-1) forwards 300ms;
    transform-origin: bottom;
}
@keyframes build-school {
    from {
        transform: scale(0.4);
        opacity: 0;
    } 
    60% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.illustration.school .show g.platform {
    animation: show-platform 450ms var(--ease-1) both 700ms;
    transform-origin: bottom;
}

.illustration.school .show g.flag-base {
    animation: show-platform 550ms var(--ease-1) both 750ms;
    transform-origin: bottom;
}

@keyframes show-platform {
    from {
        opacity: 0;
        transform: scale(0.2);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.illustration.school .show rect.flag-pole {
    animation: grow-pole 850ms var(--ease-1) both 800ms;
    transform-origin: bottom;
}

@keyframes grow-pole {
    from {
        transform: scaleY(0.2);
        opacity: 0;
    } 
    20% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.illustration.school .show g.flag {
    animation: raise-flag 900ms var(--ease-1) both 900ms;
    transform-origin: bottom;
}
@keyframes raise-flag {
    from {
        opacity: 0;
        transform: translateY(50px);
    } 
    20% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.illustration.school .show g.don-bosco-statue {
    animation: build-statue 900ms var(--ease-1) both 750ms;
    transform-origin: bottom;
}
@keyframes build-statue {
    from {
        opacity: 0;
        transform: scale(0.3);
    } 
    20% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.illustration.school .show g:is(.don-bosco, .kid) {
    animation: grow-bosco 700ms cubic-bezier(.28,1.37,.11,.95) both 1350ms;
    transform-origin: bottom;
}

@keyframes grow-bosco {
    from {
        opacity: 0;
        transform: scaleY(0.3);
    } 
    20% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

/* philosofy */
.illustration.philosofy svg {
    @apply overflow-visible;
}

.illustration.philosofy .show .brightness-container {
    animation: appear-bright 1200ms var(--ease-1) both 400ms;
    transform-origin: bottom;
}
@keyframes appear-bright {
    from {
        transform: scale(0.3);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.illustration.philosofy .brightness {
    transform-origin: center center;
    animation: rotate-brigthness 8s ease both infinite;
}
@keyframes rotate-brigthness {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

.illustration.philosofy .brightness-bright {
    transform-origin: center center;
    animation: blink-brigthness 8s ease both infinite;
}
@keyframes blink-brigthness {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.illustration.philosofy .show .clouds {
    transform-origin: bottom;
    animation: show-clouds 400ms var(--ease-1) both 400ms;
}
@keyframes show-clouds {
    from {
        transform: translateY(80px) scale(0.3);
        opacity: 0;
    } to {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.illustration.philosofy .idle .clouds {
    animation: float-clouds 3200ms ease infinite 600ms;
}
@keyframes float-clouds {
    from {
        transform: translateY(0px);
    } 
    50% {
        transform: translateY(-18px);
    }
    to {
        transform: translateY(0px);
    }
}

.illustration.philosofy .show .people-container {
    animation: grow-people 650ms cubic-bezier(.28, 1.37,.11,.95) both 700ms;
    transform-origin: bottom center;
}
@keyframes grow-people {
    from {
        transform: scale(0.3);
        opacity: 0;
    } 
    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* history */
.illustration.history .camera circle.lens-bright {
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center center;
}
.illustration.history .camera circle.lens-bright.big {
    animation-name: history-lens-bright-vibrate-big;
    animation-duration: 8050ms;
}
@keyframes history-lens-bright-vibrate-big {
    0%  { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-2deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(3deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-2deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(4deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    95% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
    100% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
}
.illustration.history .camera circle.lens-bright.small {
    animation-name: history-lens-bright-vibrate-small;
    animation-duration:7050ms;
}
@keyframes history-lens-bright-vibrate-small {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(3px, 3px) rotate(3deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-3px, 3px) rotate(-3deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
.illustration.history g.clouds g {
    transform: translateX(-2%);
    animation: subtle-cloud-float ease-in-out forwards infinite;
}
@keyframes subtle-cloud-float {
    from {
        transform: translateX(-2%);
    } 50% {
        transform: translateX(2%);
    } to {
        transform: translateX(-2%);
    } 
}
.illustration.history g.clouds g.one {
    animation-duration: 11s;
}
.illustration.history g.clouds g.two {
    animation-duration: 10s;
}
.illustration.history g.clouds g.three {
    animation-duration: 12s;
}
.illustration.history .show .picture {
    animation: print-picture 1050ms ease-in-out both 2050ms;
}
@keyframes print-picture {
    from {
        transform: translateY(-280px);
        opacity: 0;
    } 
    25% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.illustration.history .show .camera {
    animation: slide-in-camera 1000ms var(--ease-1) both 400ms;
}

.illustration.history .camera {
    animation-name: history-lens-bright-vibrate-big 5600ms ease-in-out infinite;
}
@keyframes slide-in-camera {
    from {
        transform: translateY(120%);
    } 
    75% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(2%);
    }
    to {
        transform: translateY(0%);
    }
}
.illustration.history .show svg {
    animation: about-blink 250ms ease-in-out both;
    animation-delay: 1300ms;
}

@keyframes about-blink {
    from {
        opacity: 1;
    } 50% {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.illustration.history .show g.camera-button {
    animation: about-camera-button-press 450ms var(--ease-1) both 1180ms;
} 
@keyframes about-camera-button-press {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4%);
    } to {
        transform: translateY(0);
    }
}

/* workshop section */
.shape {
    animation: floating 2.8s ease-in-out infinite;
    transition: all 900ms ease-in-out;
    overflow: visible;
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-13px); /* Adjust the amount of float */
    }
}

section.job-insertion .bubble {
    transform: scale(0);
}

section.job-insertion .bubble.visible {
    animation: grow-bubble 450ms cubic-bezier(.49,1.44,.63,.94) forwards;
}
@keyframes grow-bubble {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}
section.job-insertion .bubble.idle {
    animation: float-bubble 4050ms ease-in-out infinite;
}
@keyframes float-bubble {
    from {
        transform: scale(1) translateY(0);
    } 
    50% {
        transform: scale(.9) translateY(-5px);
    }
    to {
        transform: scale(1) translateY(0);
    }
}
section.job-insertion .bubble.visible.one {
    animation-delay: 450ms;
}
section.job-insertion .bubble.visible.two {
    animation-delay: 750ms;
}
section.job-insertion .bubble.visible.three {
    animation-delay: 950ms;
}

section.job-insertion .girl-chair path.eye {
    animation: blink-eyes 2150ms ease infinite;
    transform-origin: center;
}
@keyframes blink-eyes {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/* news section */
.news:hover button.options svg path.dot {
    animation: bounce-dot 550ms ease-in-out forwards;
}
@keyframes bounce-dot {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
}
.news:hover button.options svg path.dot.three {
    animation-delay: 50ms;
}
.news:hover button.options svg path.dot.one {
    animation-delay: 100ms;
}
.news:hover button.options svg path.dot.two {
    animation-delay: 150ms;
}
section.job-insertion .dots svg circle.dot {
    animation: bounce-dot 1350ms ease-in-out infinite;
}
@keyframes bounce-dot {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
}
section.job-insertion .dots svg circle.dot.one {
    animation-delay: 50ms;
}
section.job-insertion .dots svg circle.dot.two {
    animation-delay: 100ms;
}
section.job-insertion .dots svg circle.dot.three {
    animation-delay: 200ms;
}
section.job-insertion .dots svg circle.dot.four {
    animation-delay: 400ms;
}
section.job-insertion .dots svg circle.dot.five {
    animation-delay: 500ms;
}
section.job-insertion .dots svg circle.dot.six {
    animation-delay: 600ms;
}
section.job-insertion .dots svg circle.dot.seven {
    animation-delay: 700ms;
}
/* swiper styles */
