    header ul.information svg:is(.phone-icon-color, .location-icon-color) ellipse {
        transform-origin: bottom;
        animation: grow-shadow 350ms ease-in-out;
    }
    @keyframes grow-shadow {
        from {
            transform: scale(0.1);
            opacity: 0;
        } 
        50% {
            opacity: 1;
        }
        to {
            transform: scale(1);
        }
    }
    header ul.information .location-icon-color path {
        transform-origin: top;
        animation: location-pin 350ms ease-in-out;
    }
    @keyframes location-pin {
        0% {
            transform: translateY(0%);
        } 
        50% {
            transform: translateY(-15%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    header ul.information .phone-icon-color path.phone {
        transform-origin: bottom;
        animation: vibrating 350ms 1.5 ease-in-out;
    }
    @keyframes vibrating {
        0% { transform: rotate(0deg); }
        20% { transform: rotate(5deg); }
        40% { transform: rotate(0deg); }
        60% { transform: rotate(-5deg); }
        80% { transform: rotate(0deg); }
        100% { transform: rotate(5deg); }
    }
    header ul.information .phone-icon-color path.wave {
        opacity: 0;
        animation: appear 1ms forwards;
    }
    @keyframes appear {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    header ul.information .phone-icon-color path.wave-1 { animation-delay: 200ms; }
    header ul.information .phone-icon-color path.wave-2 { animation-delay: 400ms; }
    header ul.information .phone-icon-color path.wave-3 { animation-delay: 600ms; }