@import "./layout.css";
@import "./home.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* general utilies */
.blue {
    @apply text-blue-300;
}
.orange {
    @apply text-orange-300;
}
.separator {
    @apply text-[#A9C2E0];
}

.v-enter-active, .v-leave-active {
    transition: all 150ms cubic-bezier(.68,.82,0,.8);
}
.v-enter-from, .v-leave-to {
    opacity: 0;
}

h1.title {
    @apply text-black font-raleway font-semibold text-[1.8rem] sm:text-[2.1rem] lg:text-[3.8rem] cursor-pointer mb-2 lg:mb-3;
}

h1.secondary-title {
    @apply font-raleway font-semibold leading-[1.9rem] text-[1.8rem] sm:text-[2rem] sm:leading-[46px] lg:leading-[2.6rem] lg:text-[2.6rem] mb-5 sm:my-10;
}
main.article h2.subtitle {
    font-family: "Raleway", ui-sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.8rem;  
    color: #4B6286;
}

main.article h2.subtitle.highlight {
    animation: highlight-subtitle 600ms ease-out both infinite;
}
@keyframes highlight-subtitle {
    from { filter: brightness(100%); }
    50% { filter: brightness(190%); } 
    to { filter: brightness(100%); }
}

:root {
    --separator: #A9C2E0;
    --ease-1: cubic-bezier(0.075, 0.82, 0.165, 1);
}
