@import "./variables.css";
@import "./layout.css";
@import "./news.css";
@import "./home.css";
@import "./about.css";
@import "./workshop.css";


@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* general utilies */
.blue { color: var(--blue-300); }
.orange { color: var(--orange-300); }
.separator { color: var(--separator); }

.v-enter-active, .v-leave-active {
    transition: all 150ms cubic-bezier(.68,.82,0,.8);
}
.v-enter-from, .v-leave-to {
    opacity: 0;
}

main.info h1.title {
    color: var(--black);
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 0.5rem; /* 8px */
    cursor: pointer;
}
main.info h1.secondary-title {
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-bottom: 1.25rem; /* 20px */
    margin-top: 1.5rem;
}
main.info h2.subtitle {
    font-family: var(--raleway);
    font-size: 1.4rem;
    font-weight: 700; 
    color: var(--black);
    margin-top: 2rem; /* 32px */
    margin-bottom: 0.4rem;
    transition: var(--default-tw-transition);
}
main.info h2.subtitle.highlight {
    animation: highlight-subtitle 700ms ease-out 2;
}
@keyframes highlight-subtitle {
    from { filter: brightness(100%); }
    50% { filter: brightness(190%); } 
    to { filter: brightness(100%); }
}

@media (min-width: 560px) {
    main.info h1.secondary-title {
        font-size: 2rem;
        line-height: 46px;
    }
    main.info h2.subtitle {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
}
@media (min-width: 992px) {
    main.info h1.title {
        font-size: 3.8rem;
        margin-bottom: 1.2rem;
    }
    main.info h1.secondary-title {
        margin-top: 2rem;
        font-size: 2.6rem;
        line-height: 3rem;
    }
    main.info h2.subtitle {
        margin-top: 2rem; /* 64px */
    }
}

/* search-input */
:is(.table-header, .news-feed-header) .input-container {
    @apply flex items-center border-2 border-black-500 ps-2 py-1 max-md:mb-4 rounded-md w-full sm:max-w-[320px] min-h-[42px] transition-all;
}
:is(.table-header, .news-feed-header) .input-container.error {
    @apply border-orange-200;
}
:is(.table-header, .news-feed-header) .input-container.error .search-icon {
    @apply text-orange-300;
}
:is(.table-header, .news-feed-header) .input-container input.search {
    @apply text-base text-black font-semibold font-raleway grow
    placeholder:text-[15px] placeholder:text-[#AABDD8];
}
:is(.table-header, .news-feed-header) .input-container.error input.search {
    @apply text-orange-300 placeholder:text-orange-100;
}
:is(.table-header, .news-feed-header) .input-container button.search {
    @apply flex items-center hover:bg-[#CEE3FF80] active:bg-[#CEE3FF80] rounded-full p-1 me-1 text-black transition-all;
}
:is(.table-header, .news-feed-header) .input-container button.search :deep(svg path) {
    @apply transition-all delay-75;
}
:is(.table-header, .news-feed-header) .input-container button.search :deep(svg.error path) {
    fill: #FF8B46;
    stroke: #FF8B46;
}
:is(.table-header, .news-feed-header) .input-container input.search:is(:focus, :focus-within, :focus-visible) {
    @apply outline-none;
}

/* table pagination-styles */
.table-pagination {
    @apply flex justify-center items-center mt-6;
}
.table-pagination.disabled {
    opacity: 0.3;
    pointer-events: none;
}
.table-pagination.mobile {
    @apply w-full lg:hidden mt-0;
}
.table-pagination .pagination {
    @apply flex mx-auto lg:mx-3;
}
.table-pagination .pagination li {
    @apply font-inter cursor-pointer flex items-center justify-center font-bold me-1 lg:me-2 last:me-0 text-[18px] text-black-600 w-[34px] h-[34px] lg:w-[38px] lg:h-[38px] rounded-full hover:bg-white-200;
}
.table-pagination .pagination li.active {
    @apply  text-black bg-white-200;
}
.pagination-btn {
    @apply flex items-center justify-center cursor-pointer w-[35px] h-[35px] font-raleway text-[4rem] text-black font-bold hover:bg-white-200 rounded-full transition-all;
}
.pagination-btn .left {
    @apply ps-[2px];
    transform: rotate(180deg) translateY(1.5px);
    transform-origin: center;
}

.pagination-btn .right {
    transform:translateY(.5px);
}
