@import "./layout.css";
@import "./home.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* general utilies */
.blue {
    @apply text-blue-300;
}
.orange {
    @apply text-orange-300;
}
.separator {
    @apply text-[#A9C2E0];
}

.v-enter-active, .v-leave-active {
    transition: all 150ms cubic-bezier(.68,.82,0,.8);
}

.v-enter-from, .v-leave-to {
    opacity: 0;
}

:root {
    --separator: #A9C2E0;
    --ease-1: cubic-bezier(0.075, 0.82, 0.165, 1);
}
