div.portrait:is(
    .confeccion-patronaje, 
    .desarrollo-aplicaciones-informaticas, 
    .electromecanica-vehiculos,
    .equipos-electronicos,
    .mecanizado
    ) 
img.wallpaper {
    object-position: 0px 50%;
}
div.portrait:is(
    .gestion-administrativa-tributaria,
    .equipos-electronicos, 
    .ensamblaje-muebles, 
    .instalaciones-electricas
    ) img.wallpaper {
    object-position: 0px 20%;
}
main.info.workshop-detail div.workshop-hero svg {
    margin-bottom: 18px;
}
main.info.workshop-detail ul.workshop-list {
    list-style-type: disc; 
    margin-top: 0.25rem; 
    padding-inline-start: 1.4rem; /* 16px */
}

main.info.workshop-detail
div.workshop-hero span.workshop-logo-wrapper {
    display: flex;
    justify-content: center;
    font-size: 50vw;
}

main.info.workshop-detail.desarrollo-aplicaciones-informaticas
div.workshop-hero span.workshop-logo-wrapper svg {
    width: 14rem;
    height: 9rem;
}
main.info.workshop-detail.equipos-electronicos
div.workshop-hero span.workshop-logo-wrapper svg {
    width: 14rem;
    height: 12rem;
    transform: translateX(25px);
}
main.info.workshop-detail.electromecanica-vehiculos
div.workshop-hero span.workshop-logo-wrapper svg {
    width: 14rem;
    height: 9rem;
}

main.info.workshop-detail.ensamblaje-muebles
div.workshop-hero span.workshop-logo-wrapper svg {
    width: 15rem;
    height: 8rem;
    margin-top: 1rem;
}

main.info.workshop-detail p.description {
    font-family: var(--raleway);
    font-weight: 500;
    color: var(--black);
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
}
main.info.workshop-detail 
div.workshop-hero h1.workshop-title {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;

    font-size: 1.875rem;
    font-weight: 700; 
    text-align: center; 
    line-height: 2rem;

    margin-bottom: 0.55rem;
    margin-inline: auto;
}
main.confeccion-patronaje.workshop-detail 
div.workshop-hero h1.workshop-title {
    font-size: 1.75rem;
}
main.instalaciones-electricas.workshop-detail 
div.workshop-hero h1.workshop-title {
    font-size: 1.675rem;
}
main.desarrollo-aplicaciones-informaticas.workshop-detail 
div.workshop-hero h1.workshop-title {
    font-size: 1.45rem;
    line-height: 1.6rem;
}
main.ensamblaje-muebles.workshop-detail 
div.workshop-hero h1.workshop-title {
    font-size: 1.775rem;
}
/*  */
@media (min-width: 640px) {
    main.info.workshop-detail ul.workshop-list {
        margin-top: 0.75rem; 
    }
}

@media (min-width: 992px) {
    main.info.workshop-detail p.description {
        margin-bottom: 1.8rem;
        line-height: 1.75rem; 
        font-size: 1.1rem;
    }
    main.info.workshop-detail 
    div.workshop-hero span.workshop-logo-wrapper {
        font-size: 15rem;
    }
    main.info.workshop-detail.desarrollo-aplicaciones-informaticas
    div.workshop-hero span.workshop-logo-wrapper svg {
        width: 17rem;
        height: 10rem;
        margin-top: 3rem;
    }
    main.info.workshop-detail.equipos-electronicos
    div.workshop-hero span.workshop-logo-wrapper svg {
        width: 24rem;
        height: 14rem;
        transform: translateX(32px);
    }
    main.info.workshop-detail.electromecanica-vehiculos
    div.workshop-hero span.workshop-logo-wrapper svg {
        width: 18rem;
        height: 12rem;
        margin-top: 2rem;
    }
    main.info.workshop-detail.ensamblaje-muebles
    div.workshop-hero span.workshop-logo-wrapper svg {
        width: 18rem;
        height: 10rem;
    }
    main.info.workshop-detail 
    div.workshop-hero  h1.workshop-title {
        font-size: 2.55rem;
        line-height: 2.8rem;  
        margin-bottom: 0.5rem; 
        max-width: 500px;
    }
    main.workshop-detail.confeccion-patronaje 
    div.workshop-hero h1.workshop-title {
        font-size: 2.25rem;
    }
    main.workshop-detail.desarrollo-aplicaciones-informaticas  
    div.workshop-hero h1.workshop-title {
        font-size: 2.1rem;
        line-height: 2.3rem;
        max-width: 550px;
    }
}